%h1 Generate Reports For Children Under LHW

=form_tag("/reports/child_report_result", method: "get") do
  =label_tag 'Enter Information below'
  %br
  =label_tag 'Name of Child'
  =text_field_tag(:child_name)
  %br
  =label_tag 'Family Number'
  =text_field_tag(:family_number)
  %br
  =select_tag "vaccination", "<option>All vaccinations</option><option>Polio</option><option>Measles</option>".html_safe 
  %br
  =submit_tag("Submit")
