%h2 Women
%table#Women
  %thead
    %tr
      %th Name
      %th Family
      %th Result
  %tbody
    - @woman.each do |t|
      %tr
        %td= t.name
        %td= t.family_number
        %td= t.result_pregnancy

