%h2 Polio
%table#child
  %thead
    %tr
      %th Polio1
      %th Polio2
      %th Polio3
      %th Polio4	
  %tbody
    %tr    
      %td= (@child.polio_1)+3.months
      %td= @child.polio_2
      %td= @child.polio_3
      %td= @child.polio_4
