%h2 Miscarriages
=form_tag("/reports/miscarriages", method: "get") do
  %br
  =submit_tag("Misscarriages")
%br

%h2 Vaccination Details
=form_tag("/reports/woman_vaccination", method: "get") do
  =label_tag 'Number of vaccines'
  %br
  =select_tag "vaccination", "<option>TT1</option><option>TT2</option>".html_safe
  %br
  =submit_tag("Submit")

%h2 Visit Details
=form_tag("/reports/visits", method: "get") do
  =label_tag 'Number of visits'
  %br
  =select_tag "visit", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe
  %br
  =submit_tag("Submit")
%br
%h2 Place of Delivery 
=form_tag("/reports/delevired_by", method: "get") do
  =label_tag 'Delivered At'
  %br
  =select_tag "delev", "<option>Government</option><option>Private</option><option>Home</option>".html_safe
  %br
  =submit_tag("Submit")

