%h2 Children of my area
%table#child
  %thead
    %tr
      %th Name
      %th DOB
      %th Nurse
      %th CNIC
  %tbody
    - @child.each do |t|
      %tr
        %td= t.name
        %td= t.date_of_birth
        %td= t.nurse_name
        %td= t.cnic
